body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}
h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
p {
  font-size: 1.2rem;
  color: #94a3b8;
}
.btn {
margin-top: 20px;
padding: 12px 24px;
background-color: #38bdf8;
color: #0f172a;
border: none;
border-radius: 8px;
font-size: 1rem;
cursor: pointer;
transition: 0.3s;
}
.btn:hover {
 background-color: #0ea5e9;
}
html {
  scroll-behavior: smooth;
}
.project {
  background: #020617;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  /* animation start */
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease;
}
.project.show {
  opacity: 1;
  transform: translateY(0);
  transform: all 0.8s ease;

}